<div class="container">
  <form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="inputFrom" class="form-label">From</label>
      <select
        class="form-control"
        id="startLocation"
        formControlName="startLocation"
        required
        *ngIf="locationData && locationData.length > 0"
      >
        <option value="" disabled>Select Starting Location</option>
        <ng-container *ngFor="let location of locationData">
          <option *ngIf="isEndLocationDifferent(location)" [value]="location.id">
            {{ location.name }}
          </option>
        </ng-container>
      </select>
      <div *ngIf="!locationData || locationData.length === 0" class="form-text">
        Loading locations...
      </div>
    </div>

    <div class="mb-3">
      <label for="inputTo" class="form-label">To</label>
      <select
        class="form-control"
        id="endLocation"
        formControlName="endLocation"
        required
        *ngIf="locationData && locationData.length > 0"
      >
        <option value="" disabled>Select Destination</option>
        <ng-container *ngFor="let location of locationData">
          <option *ngIf="isStartLocationDifferent(location)" [value]="location.id">
            {{ location.name }}
          </option>
        </ng-container>
      </select>
      <div *ngIf="!locationData || locationData.length === 0" class="form-text">
        Loading locations...
      </div>
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">Journey Date</label>
      <input
        type="date"
        class="form-control"
        id="tripDate"
        formControlName="tripDate"
        required
        [min]="minDate"
        [max]="maxDate"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="tripForm.invalid"
    >
      Search Trip
    </button>
  </form>
</div>
